<a href="https://colab.research.google.com/github/Sruthi-2002/Table-Tennis-Dataset/blob/main/Copy_of_AILAB5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
cd /content/gdrive/My Drive/CSE2039

/content/gdrive/My Drive/CSE2039

In [ ]:
ls

final.csv  table.xlsx  tennis.csv

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv("final.csv")
data

    day   outlook  temp humidity    wind play
0    D1     Sunny   Hot     High    Weak   No
1    D2     Sunny   Hot     High  Strong   No
2    D3  Overcast   Hot     High    Weak  Yes
3    D4      Rain  Mild     High    Weak  Yes
4    D5      Rain  Cool   Normal    Weak  Yes
5    D6      Rain  Cool   Normal  Strong   No
6    D7  Overcast  Cool   Normal  Strong  Yes
7    D8     Sunny  Mild     High    Weak   No
8    D9     Sunny  Cool   Normal    Weak  Yes
9   D10      Rain  Mild   Normal    Weak  Yes
10  D11     Sunny  Mild   Normal  Strong  Yes
11  D12  Overcast  Mild     High  Strong  Yes
12  D13  Overcast   Hot   Normal    Weak  Yes
13  D14      Rain  Mild     High  Strong   No

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   day       14 non-null     object
 1   outlook   14 non-null     object
 2   temp      14 non-null     object
 3   humidity  14 non-null     object
 4   wind      14 non-null     object
 5   play      14 non-null     object
dtypes: object(6)
memory usage: 800.0+ bytes

In [ ]:
print("shape of dataframe", data.shape)
  
# obtaining the number of rows
print("number of rows : ", data.shape[0])
  
# obtaining the number of columns
print("number of columns : ", data.shape[1])

shape of dataframe (14, 6)
number of rows :  14
number of columns :  6

In [ ]:
result = data.head(7)
print("First 7 rows of the DataFrame:")
print(result)

First 7 rows of the DataFrame:
  day   outlook  temp humidity    wind play
0  D1     Sunny   Hot     High    Weak   No
1  D2     Sunny   Hot     High  Strong   No
2  D3  Overcast   Hot     High    Weak  Yes
3  D4      Rain  Mild     High    Weak  Yes
4  D5      Rain  Cool   Normal    Weak  Yes
5  D6      Rain  Cool   Normal  Strong   No
6  D7  Overcast  Cool   Normal  Strong  Yes

In [ ]:
dataTypeSeries = data.dtypes
print('Data type of each column of Dataframe :')
print(dataTypeSeries)

Data type of each column of Dataframe :
day         object
outlook     object
temp        object
humidity    object
wind        object
play        object
dtype: object

In [ ]:
df = pd.DataFrame(data)
print(df)

    day   outlook  temp humidity    wind play
0    D1     Sunny   Hot     High    Weak   No
1    D2     Sunny   Hot     High  Strong   No
2    D3  Overcast   Hot     High    Weak  Yes
3    D4      Rain  Mild     High    Weak  Yes
4    D5      Rain  Cool   Normal    Weak  Yes
5    D6      Rain  Cool   Normal  Strong   No
6    D7  Overcast  Cool   Normal  Strong  Yes
7    D8     Sunny  Mild     High    Weak   No
8    D9     Sunny  Cool   Normal    Weak  Yes
9   D10      Rain  Mild   Normal    Weak  Yes
10  D11     Sunny  Mild   Normal  Strong  Yes
11  D12  Overcast  Mild     High  Strong  Yes
12  D13  Overcast   Hot   Normal    Weak  Yes
13  D14      Rain  Mild     High  Strong   No

In [ ]:
from sklearn.preprocessing import OneHotEncoder

#creating instance of one-hot-encoder
encoder = OneHotEncoder(handle_unknown='ignore')

#perform one-hot encoding on 'team' column 
encoder_df = pd.DataFrame(encoder.fit_transform(df[['day']]).toarray())

#merge one-hot encoded columns back with original DataFrame
final_df = df.join(encoder_df)

#view final df
print(final_df)

    day   outlook  temp humidity    wind play    0    1    2    3    4    5  \
0    D1     Sunny   Hot     High    Weak   No  1.0  0.0  0.0  0.0  0.0  0.0
1    D2     Sunny   Hot     High  Strong   No  0.0  0.0  0.0  0.0  0.0  0.0
2    D3  Overcast   Hot     High    Weak  Yes  0.0  0.0  0.0  0.0  0.0  0.0
3    D4      Rain  Mild     High    Weak  Yes  0.0  0.0  0.0  0.0  0.0  0.0
4    D5      Rain  Cool   Normal    Weak  Yes  0.0  0.0  0.0  0.0  0.0  0.0
5    D6      Rain  Cool   Normal  Strong   No  0.0  0.0  0.0  0.0  0.0  0.0
6    D7  Overcast  Cool   Normal  Strong  Yes  0.0  0.0  0.0  0.0  0.0  0.0
7    D8     Sunny  Mild     High    Weak   No  0.0  0.0  0.0  0.0  0.0  0.0
8    D9     Sunny  Cool   Normal    Weak  Yes  0.0  0.0  0.0  0.0  0.0  0.0
9   D10      Rain  Mild   Normal    Weak  Yes  0.0  1.0  0.0  0.0  0.0  0.0
10  D11     Sunny  Mild   Normal  Strong  Yes  0.0  0.0  1.0  0.0  0.0  0.0
11  D12  Overcast  Mild     High  Strong  Yes  0.0  0.0  0.0  1.0  0.0  0.0
12  D13  Overcast   Hot   Normal    Weak  Yes  0.0  0.0  0.0  0.0  1.0  0.0
13  D14      Rain  Mild     High  Strong   No  0.0  0.0  0.0  0.0  0.0  1.0

      6    7    8    9   10   11   12   13
0   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1   1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2   0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
3   0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
4   0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
5   0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0
6   0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
7   0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
8   0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
9   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
10  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
11  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
12  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
13  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

In [ ]:
res = final_df.head(5)
print("First 5 rows of the DataFrame:")
print(res)

First 5 rows of the DataFrame:
  day   outlook  temp humidity    wind play    0    1    2    3    4    5  \
0  D1     Sunny   Hot     High    Weak   No  1.0  0.0  0.0  0.0  0.0  0.0
1  D2     Sunny   Hot     High  Strong   No  0.0  0.0  0.0  0.0  0.0  0.0
2  D3  Overcast   Hot     High    Weak  Yes  0.0  0.0  0.0  0.0  0.0  0.0
3  D4      Rain  Mild     High    Weak  Yes  0.0  0.0  0.0  0.0  0.0  0.0
4  D5      Rain  Cool   Normal    Weak  Yes  0.0  0.0  0.0  0.0  0.0  0.0

     6    7    8    9   10   11   12   13
0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
3  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0

In [ ]:
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
x = data.data
y = data.target
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)
model_g = GaussianNB()
model_g.fit(x_test,y_test)
pred_g =model_g.predict(x_test)
accuracy_score_g = accuracy_score(y_test,pred_g)
print(model_g.class_prior_)
print(model_g.class_count_)

[0.09722222 0.11388889 0.11944444 0.10555556 0.07777778 0.09722222
 0.11111111 0.08055556 0.08611111 0.11111111]
[35. 41. 43. 38. 28. 35. 40. 29. 31. 40.]